language: elixir
elixir:
  - 1.4.5
otp_release:
  - 19.3
  - 20.0
script:
  - MIX_ENV=test mix test --no-start --trace --cover
  - MIX_ENV=test mix credo --strict
services:
  - redis-server
sudo: false
